@import '../../../../components/Theme/styles.scss';

.comic-component {
    display: flex;
    flex-direction: row;

    .wrap-comic-img {
        max-width: 450px;
        max-height: 450px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 40px;

        .comic-img {
            width: auto;
            max-height: 450px;
            display: block;
            margin: 0 auto;
        }
    }

    .comic-info {
        flex: 1;

        .title {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 32px;
        }
        
        .creators {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .creator {
                display: flex;
                flex-direction: column;
                min-width: 200px;
                flex: 1;
                padding-bottom: 15px;
                text-transform: capitalize;
            }
        }

        .wrap-descriptions {
            .description-label {
                display: block;
                font-size: 20px;
                padding-bottom: 10px;
            }

            .description {
                font-size: 16px;
                color: $grey;
                white-space: pre-line;
                text-align: justify;
            }
        }
    }
}

@media (max-width: $media-query-phone) {
    .comic-component {
        flex-direction: column;
        justify-content: center;

        .wrap-comic-img {
            margin-right: 0;
            margin-bottom: 30px;
            max-width: none;
            max-height: 300px;

            .comic-img {
                max-height: 300px;
            }
        }
    }
}