@import '../../../components/Theme/styles';

.comic-list-view {
    display: flex;
    flex: 1;

    .wrap-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        position: relative;

        .loader-absolute {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $black-transparent;
        }
    }
}

@media (max-width: $media-query-phone) {
    .comic-list-view .wrap-list {
        justify-content: center;
    }
}