//Colors
$white: #FFF;
$black: #000;
$light-grey: #EEEEEE;
$grey: #999999;
$dark-grey: #333333;
$medium-grey: #666666;
$blue: #3483FA;
$red: #ff4f4f;
$green: #00b400;
$dark-red: #e62429;
$black-transparent: #0000008f;


//Theme
$page-width: 1200px;
$page-width-tablet: 750px;
$background-page: $light-grey;
$background-header: $black;
$input-color: $dark-grey;
$input-placeholder: $grey;

$media-query-tablet: 1025px;
$media-query-phone: 480px;